<div class="row">
  <div class="span11">
    <h1>
      Home Owners Association
    </h1>
    <%= render "shared/content" %>
  </div>
  <div class="span5 contentRight" id="hoaRight">
    <div class="well">
      <strong>HOA Documents</strong>
      <ul>
        <li>
          <a class="pdf" href="https://docs.google.com/open?id=0B-mP8MJ6pPMwMThkMmZjZDItYmRhOC00OGI5LWFjNjYtM2U4MjU3NWFmOGM3&type=.pdf" target="_blank">Deed Restrictions</a>
        </li>
        <li>
          <a href="https://docs.google.com/open?id=0B-mP8MJ6pPMwODhiMWE2OGUtN2U3MS00MjBlLWFmZjMtNTZkMmFhN2IzNTZi&type=.pdf" target="_blank">By-Laws</a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1tV4fe6l0B9Q6sL3YzbFFEAr8g6TP38aQTgjF6HvKdzY" target="_blank">Architectural Change Request Form</a>
        </li>
      </ul>
    </div>
    <div>
	<img src="http://lh6.googleusercontent.com/-J9UUVZWf1S8/TuKyQH77IbI/AAAAAAAAAGY/3dN68YUrqok/s275/DSC04421.JPG" width="275" style="margin:1px 0 0 
4px;"></a>
    </div>
  </div>
</div>
