<div class="row">
    <div class="span12">
      <h1>
        Crime Prevention
      </h1>
        <%= render "shared/content" %>
    </div>
    <div class="span4 contentRight" id="crimePreventionRight">
        <div class="well">
            <strong>Get Involved!</strong> <a href="http://www.houstontx.gov/police/vip/images/vip_app.pdf">
                Download the Application</a> to get started.
        </div>
      <%= image_tag "citizen-patrol-logo.png" %>
    </div>
</div>
