<div id="slides">
</div>
<h1>Welcome to Ella Lee Forest!</h1>
<%= render "shared/content" %>
 <script type="text/javascript">
   $(function () {
    $('#slides').googleslides({userid:'104583840781273688271', albumid:'5674154229114797377', imgmax:460});
   });
 </script>