<div class="row">
    <div class="span11">
      <h1>
        Citizen Patrol
      </h1>
        <%= render "shared/content" %>
    </div>
    <div class="span5 contentRight" id="citizenPatrolRight">
        <div class="well">
           <strong>Documents</strong>
			  <ul>
			  <li><a href="https://docs.google.com/open?id=0B-mP8MJ6pPMwZmY0MTc5N2QtMzBlNC00YTA0LTgyYTYtYTkzMzJkOTdjYmRh&type=.pdf">Action Request</a></li>
			  <li><a href="https://docs.google.com/open?id=0B-mP8MJ6pPMwNGEzYWExMDQtMGY0MS00NWFmLWIwOWItMTA1YTI5Y2M3YmRi&type=.pdf">Curfew Ordinance</a></li>
			  <li><a href="https://docs.google.com/open?id=0B-mP8MJ6pPMwZTE4ZTUyZGQtNTFiYy00YjFkLWI5OTAtMGRlMGVmNzY2MGE1&type=.pdf">HPD Contacts</a></li>
			  <li><a href="https://docs.google.com/open?id=0B-mP8MJ6pPMwYTBjNDQyMDItZDE4My00NWVhLWE5NzYtZmVmNzc0ZDU0MWMx&type=.pdf">Describe the Vehicle / Suspect Forms</a></li>
			  <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AumP8MJ6pPMwdEFRSzN1M01iMnBVazF3SzBVRWlsQVE&type=.xls">Patrol Hours Log</a></li>
			  </ul>
			   <strong>Links</strong>
			   <ul>
			   <li><a href="http://www.houstontx.gov/police/alert_slip/">HPD Alert Slip</a><span style="font-size:smaller;">&nbsp;- request increased patrols for a prowler, speeding vehicle, excessive burglaries and/or theft, being on vacation, or for other reasons of concern</span></li>
			   <li><a href="http://www.mylocalcrime.com/fullscreen#29.838507%2C%20-95.43500">Area Crime Map</a><span style="font-size:smaller;">&nbsp;- recently reported crime statistics in the area</span></li>
			   <li><a href="http://www.ofha.org/phpBB2/viewforum.php?f=7&sid=c787008467d33cfb191e44d18bad10a1">Oak Forest Citizen Patrol Forum</a><span style="font-size:smaller;">&nbsp;- frequently updated reports of crime activity in a nearby neighborhood</span></li>
			   <li><a href="http://mycity.houstontx.gov/crime/optionPage.aspx">City of Houston Crime Information</a></li>
			   </ul>
        </div>
		<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
		  <tr><td>
		  <img src="http://groups.google.com/intl/en/images/logos/groups_logo_sm.gif"
				 height=30 width=140 alt="Google Groups">
		  </td></tr>
		  <tr><td style="padding-left: 5px">
		  <b>Subscribe to Ella Lee Forest - Citizen Patrol</b>
		  </td></tr>
		  <tr>
		  <td style="padding-left: 5px">This group is similar to the ELF group but limited to Citizen Patrol members only.</td>
		  </tr>
		  <form action="http://groups.google.com/group/ellaleeforest-citizenpatrol/boxsubscribe">
		  <input type=hidden name="hl" value="en">
		  <tr><td style="padding-left: 5px;">
		  Email: <input type=text name=email>
		  <br/><br/><input type=submit name="sub" value="Subscribe">
		  </td></tr>
		</form>
		<tr><td align=right>
		  <a href="http://groups.google.com/group/ellaleeforest-citizenpatrol?hl=en">Visit this group</a>
		</td></tr>
		</table>
    </div>
</div>